{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}
{% block content %}
<div class="password-change-info-container">
    <h1>Password change</h1>
    <p>Please enter your current password, for security reasons, and then set your new password</p>
</div>
    
    <div class="form-card">
        <form method="POST">
            {% csrf_token %}
            <div class="input-container">
                {{form.old_password.label_tag}}
                {{form.old_password}}
                {% for error in form.old_password.errors %}
                    <div class="form-errors">
                        <span class="error-text">{{error}}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="input-container">
                {{form.new_password1.label_tag}}
                {{form.new_password1}}
                {% for text in form.new_password1.help_text %}
                    <span class="password-help-text">{{text}}</span>
                {% endfor %}
                {% for error in form.new_password1.errors %}
                    <div class="form-errors">
                        <span class="error-text">{{error}}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="input-container">
                {{form.new_password2.label_tag}}
                {{form.new_password2}}
                {% for error in form.new_password2.errors %}
                    <div class="form-errors">
                        <span class="error-text">{{error}}</span>
                    </div>
                {% endfor %}
            </div>
            <button class="app-button blue-button" type="submit">Change Password</button>
        </form>
    </div>
    
{% endblock content %}