{% load i18n %}{% autoescape off %}
{% blocktranslate %}We've recieved your request for a password reset for your user account at {{ site_name }}.{% endblocktranslate %}

{% translate "Please click the following link and follow the instructions to reset your password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}