{% extends 'base.html' %}
{% block title %}Enter new password{% endblock title %}
{% block content %}
    <div class="data-container">
        <h1>Set a new password!</h1>
        <form method="POST">
        {% csrf_token %}
        <div class="user-input-container">
            {{form.new_password1.label_tag}}
            {{form.new_password1}}
        </div>
        <div>
            {% for text in form.new_password1.help_text %}
                <span class="password-help-text">{{text}}</span>
            {% endfor %}
        </div>
        {% for error in form.new_password1.errors %}
                <div class="form-errors">
                    <span class="error-text">{{error}}</span>
                </div>
        {% endfor %}

        <div class="user-input-container">
            {{form.new_password2.label_tag}}
            {{form.new_password2}}
            {% for error in form.new_password2.errors %}
                <div class="form-errors">
                    <span class="error-text">{{error}}</span>
                </div>
            {% endfor %}
        </div>
        
        <button class="app-button blue-button" type="submit">Change my password</button>
        </form>
    </div>
    
{% endblock content %}