{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="" id="new-project-container">
    <a class="blue-button" href="{% url 'new_project' %}">+ New Project</a>
</div>
{% endif %}
<div class="projects-container">
    {% if not project_lists %}
        <h1>Nothing to show here!!!</h1>
    {% else %}
        {% for project in project_lists %}
        <div class="project">
            <div class="post-card-flip">
                <div class="post-snippet">
                    <div class="front">
                        <h1 class="p-title">{{ project.title }}</h1>
                        <div class="p-sub-details">
                            <i class="fas fa-user p-icon"></i><p class="p-sub-text"> {{ project.author }}</p>
                            <p class="p-sub-text"> {{ project.date }}</p>
                        </div>
                        
                    </div>
                    <div class="back">
                        <p>{{ project.description }}</p>
                        <a class="btn-read" href="{% url 'project_detail' project.pk %}">Read More</a>
                    </div>
                </div>
            </div> 
        </div>
        
        
        {% endfor %}
    {% endif %}  
        
{% endblock content %}

{% block js %}
    <script src="{% static 'js/project.js' %}"></script>
{% endblock js %}